# Dependencies
node_modules/
*/node_modules/

# Environment variables & secrets
.env
*.env
!.env.example
!*.env.example

# Production & Build outputs
dist/
*/dist/
build/
*/build/

# Testing coverage
coverage/
*/coverage/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
